.gap {
  padding-top: 7rem;
}


.publicationList .singlePublication {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--carousel-color);
}

.publicationList .singlePublication::after {
  content: '';
  display: table;
  clear: both;
}

.publicationList .singlePublication a {
  display: inline-block;
  font-size: 0.92rem;
  font-weight: 600;
  color: var(--main-color);
  line-height: 1.5rem;
}

.publicationList .singlePublication a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.5px;
  text-decoration-color: var(--main-color);
  color: var(--black-color);
}

.publicationList .singlePublication p {
  line-height: 1.4rem;
  font-size: 0.875rem;
  margin-top: 0.3rem;
}

.publicationList button {
  border: 2px solid var(--main-color);
  outline: none;
  background: none;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.publicationList button:hover {
  background: var(--main-color);
  color: var(--white-color);
}

/* Medium devices (landscape tablets, 400px and up) */
@media only screen and (min-width: 400px) {

  .publicationList.responsive .singlePublication a {
    line-height: 1.7rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Medium devices (landscape tablets, 808px and up) */
@media only screen and (min-width: 808px) {
  .publicationList.responsive .singlePublication {
    margin-left: 0;
    margin-right: 0;
  }
}



/* Create Publication */
 .createPublication,
 .publicationTable {
  min-height: 100vh;
  background: #F3F4F6;
  padding-top: 3.5rem;
  padding-left: 16rem;
}

.createPublication .authors::after {
  content: '';
  position: absolute;
  height: 1px;
  box-shadow: 0 1px var(--divider-border-color);
  bottom: 1px;
  left: 0;
  right: 0;
}

.createPublication .authors .addAuthorBtn::after {
  content: '\002B';
  font-size: 1.5rem;
  font-weight: var(--main-font-weight);
  padding: 0;
  display: block;
  line-height: 0.8rem;
}

/* Publication Table */
.publicationTable .addbtn {
  position: relative;
  padding-left: 1.5rem;
}

.publicationTable .addbtn::before {
  content: '\002B';
  font-size: 1.4rem;
  font-weight: var(--main-font-weight);
  position: absolute;
  top: -0.5px;
  left: 0.4rem;
}

.publicationTable .deleteBtn:hover,
.publicationTable .editBtn:hover {
  text-decoration: underline;
}

.publicationTable .deleteBtn:disabled:hover,
.publicationTable .editBtn:disabled:hover {
  text-decoration: none;
}

@media only screen and (min-width: 1280px) {
  .gap {
    padding-top: 11rem;
  }
}