.gap {
  padding-top: 7rem;
}

.about .container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.about .container img {
  width: 100%;
  padding-bottom: 1rem;
}

.about .container .info .title {
  font-size: 0.92rem;
  font-weight: bold;
  color: var(--main-color);
  line-height: 1.2rem;
  text-transform: uppercase;
}

.about .container .info p {
  line-height: 1.6rem;
  font-size: 0.875rem;
}


@media only screen and (min-width: 300px) {
  .about.responsive .container .info .title {
    margin-top: 0;
  }
}

/* Medium devices (landscape tablets, 400px and up) */
@media only screen and (min-width: 740px) {
  .about.responsive .container img {
    float: left;
    width: 22rem;
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 808px) {
  .about.responsive .container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 1280px) {
  .gap {
    padding-top: 9.5rem;
  }
}