.sidebar {
  position: fixed;
  width: 16rem;
  background: var(--main-color);
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;
  z-index: 500;
}

/* Sidebar Item */
.sidebarItem {
  display: block;
}

.sidebarItem:hover {
  background: #0D5E0C;
}

.sidebarItem.__active {
  background: #0D5E0C;
}

.sidebarItem.subMenu::after {
  content: '\002B';
  color: #9FC49E;
  float: right;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.sidebarItem.subMenu.active::after {
  content: '\2212';
}

.accordion {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0, 1, 0, 1);
}

.accordion.clicked {
  height: auto;
  max-height: 999px;
  transition: all 1s linear;
}

.accordion a {
  display: block;
  font-size: 0.85rem;
  color: #9FC49E;
  margin: 0 0.5rem 0.3rem 0.5rem;
  padding-left: 2.7rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: 0.6rem;
}

.accordion a:hover {
  background: #0D5E0C;
}

.accordion a.active {
  background: #0D5E0C;
  color: #CFE1CF;
}