.input {
  --scale: 0.9;
  padding: calc(0.5rem * var(--scale));

  /* Background button color */
  --main-background-color: var(--bg-color);
  --main-hover-background-color: var(--bg-hover);
  --main-active-background-color: var(--bg-active);

  /* Outline */
  --main-outline-color: var(--outline-color);
}

.label {
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  font-weight: var(--bold-font-weight);
  padding-bottom: calc(0.26rem * var(--scale));
  display: inline-block;
  font-family: var(--font-family);
}

.error {
  font-size: var(--small-font-size);
  padding-top: calc(0.26rem * var(--scale));
  font-weight: var(--bold-font-weight);
  color: var(--sub-bold-font-color);
  font-family: var(--font-family);
}

/* button */
.input button {
  outline: none;
  border: 1px solid var(--main-background-color);
  cursor: pointer;
  display: block;
  color: var(--main-white-color);
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  font-weight: var(--semibold-font-weight);
  border-radius: var(--border-radius-small);
  padding-left: var(--btn-padding-left);
  padding-right: var(--btn-padding-right);
  padding-top: var(--btn-padding-top);
  padding-bottom: var(--btn-padding-bottom);
  background: var(--main-background-color);
}

.input button:focus {
  outline: 2px solid var(--main-outline-color);
  outline-offset: 2px;
}

.input button:hover {
  background: var(--main-hover-background-color);
  border: 1px solid var(--main-hover-background-color);
}

.input button:active {
  background: var(--main-active-background-color);
}

.input button:disabled {
  cursor: no-drop;
  opacity: 0.7;
}

.input button:disabled:hover {
  background: var(--main-background-color);
}

/* input */
.input input[type='text'],
.input input[type='email'],
.input input[type='date'],
.input input[type='number'],
.input input[type='password'],
.input input[type='url'],
.input input[type='file'],
.input textarea,
.input select {
  box-sizing: border-box;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--main-border-color);
  outline: none;
  padding: 0.5rem calc(0.5rem * var(--scale));
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  font-weight: var(--main-font-weight);
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: var(--font-family);
}

.input select {
  background: var(--main-white-color);
}

.input input[type='file'] {
  padding: initial;
  cursor: pointer;
}

.input input[type='file']::file-selector-button {
  padding: 0.5rem;
  border: none;
  border-right: 1px solid var(--divider-border-color);
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  font-weight: var(--main-font-weight);
  font-family: var(--font-family);
  cursor: pointer;
}

.input textarea {
  min-height: 5.42rem;
  padding: calc(0.5rem * var(--scale));
  scrollbar-width: thin;
}

.input input[type='text']:focus,
.input input[type='email']:focus,
.input input[type='date']:focus,
.input input[type='number']:focus,
.input input[type='password']:focus,
.input input[type='url']:focus,
.input input[type='file']:focus,
.input textarea:focus,
.input select:focus {
  background: #fffcc8 !important;
  box-shadow: 0 0 0 0.25rem rgba(20, 111, 18, 0.15);
  border: 1px solid rgba(20, 111, 18, 0.5) !important;
}

.input input[type='text']:disabled,
.input input[type='email']:disabled,
.input input[type='date']:disabled,
.input input[type='number']:disabled,
.input input[type='password']:disabled,
.input input[type='url']:disabled,
.input input[type='file']:disabled,
.input textarea:disabled,
.input select:disabled {
  cursor: no-drop;
  opacity: 0.7;
  background: #e9e9ed;
}

/* Checkbox */
.checkbox input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  margin: 0;
  padding: 0;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  vertical-align: -3.5px;
  cursor: pointer;
}

.checkbox input[type='checkbox']:focus {
  box-shadow: none;
  outline: 2px solid var(--main-outline-color);
  outline-offset: 2px;
}

.checkbox input[type='checkbox']:disabled {
  cursor: no-drop;
  opacity: 0.5;
}

.checkbox input[type='checkbox']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  visibility: hidden;
  background: var(--main-background-color);
}

.checkbox input[type='checkbox']::after {
  content: '';
  position: absolute;
  visibility: hidden;
  left: 4.5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-radius: 1px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox input[type='checkbox']:checked {
  border: 1px solid var(--main-background-color);
}

.checkbox input[type='checkbox']:checked::after {
  visibility: visible;
}

.checkbox input[type='checkbox']:checked::before {
  visibility: visible;
}

.checkboxlabel {
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  font-weight: var(--main-font-weight);
  padding-left: 0.6rem;
  cursor: pointer;
}

/* radio */
.radio input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  margin: 0;
  padding: 0;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  color: green;
  vertical-align: -3.5px;
  cursor: pointer;
}

.radio input[type='radio']:focus {
  box-shadow: none;
  outline: 2px solid var(--main-outline-color);
  outline-offset: 2px;
}

.radio input[type='radio']:disabled {
  cursor: no-drop;
  opacity: 0.5;
}

.radio input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  visibility: hidden;
  background: var(--main-background-color);
}

.radio input[type='radio']::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.15rem;
  visibility: hidden;
  background: white;
}

.radio input[type='radio']:checked {
  border: 1px solid var(--main-background-color);
}

.radio input[type='radio']:checked::after {
  visibility: visible;
}

.radio input[type='radio']:checked::before {
  visibility: visible;
}

.radiolabel {
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  font-weight: var(--main-font-weight);
  padding-left: 0.6rem;
  cursor: pointer;
}