.gap {
  padding-top: 7rem;
}

.gap2 {
  padding-top: 7rem;
}

.projectList .singleProject {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1.5rem;
}

.projectList .singleProject::after {
  content: '';
  display: table;
  clear: both;
}

.projectList .singleProject img,
.projectList .singleProject .content {
  float: left;
}

.projectList .singleProject img {
  width: 40%;
}

.projectList .singleProject .content {
  width: 60%;
}

.projectList .singleProject .content a {
  display: inline-block;
  margin-top: 0;
  padding-left: 0.6rem;
  font-size: 0.92rem;
  font-weight: 600;
  color: var(--main-color);
  line-height: 1.2rem;
}

.projectList .singleProject .content span {
  display: block;
  font-size: 0.8rem;
  padding-left: 0.6rem;
  line-height: 1.6rem;
  font-style: normal;
}

.projectList .singleProject .content a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.5px;
  text-decoration-color: var(--main-color);
  color: var(--black-color);
}

.projectList .singleProject .content p {
  display: none;
}

.projectList button {
  border: 2px solid var(--main-color);
  outline: none;
  background: none;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.projectList button:hover {
  background: var(--main-color);
  color: var(--white-color);
}

/* Medium devices (landscape tablets, 400px and up) */
@media only screen and (min-width: 400px) {
  .projectList.responsive .singleProject img {
    width: 10rem;
  }

  .projectList.responsive .singleProject .content {
    width: calc(100% - 10rem);
  }

  .projectList.responsive .singleProject .content p {
    display: block;
    padding-left: 1rem;
    line-height: 1.6rem;
    font-size: 0.875rem;
    margin-top: 0.3rem;
  }

  .projectList.responsive .singleProject .content a {
    padding-left: 1rem;
    font-weight: bold;
  }

  .projectList.responsive .singleProject .content span {
    display: inline-block;
    padding-left: 1rem;
    color: var(--main-color);
    font-size: 0.875rem;
    font-style: normal;
  }
}

/* Medium devices (landscape tablets, 808px and up) */
@media only screen and (min-width: 808px) {
  .projectList.responsive .singleProject {
    padding: 0;
  }
}

/* Project Details */
.projectDetails .container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.projectDetails .container .__image {
  width: 100%;
  padding-bottom: 1rem;
}

.projectDetails .container .info p:first-child {
  margin-bottom: 0.2rem;
  font-size: 0.92rem;
  font-weight: bold;
  color: var(--main-color);
  line-height: 1.2rem;
}


/* Team Member */
.horizontalScroll {
  margin-bottom: 2rem;
}

.member {
  width: 11rem;
  padding: 1rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.member .image img {
  margin: auto;
  width: 70px;
  display: block;
  border-radius: 35px;
}

.member .memberInfo {
  text-align: center;
}

.member .memberInfo .name {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
}

.member .memberInfo .role {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 300;
}

.projectDetails .container .__title {
  font-size: 0.92rem;
  font-weight: bold;
  color: var(--main-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.projectDetails .container .info p:nth-child(2) {
  margin-top: 0.4rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.6rem;
  color: var(--main-color);
}

.projectDetails .container .info p:nth-child(3) {
  margin-top: 0.4rem;
  font-size: 0.875rem;
  line-height: 1.6rem;
  color: var(--main-color);
}

.projectDetails .container .info p:last-child {
  line-height: 1.6rem;
  font-size: 0.875rem;
  margin-top: 1.4rem;
}


@media only screen and (min-width: 300px) {
  .projectDetails.responsive .container .info p:first-child {
    margin-top: 0;
  }
}

/* Medium devices (landscape tablets, 400px and up) */
@media only screen and (min-width: 740px) {
  .projectDetails.responsive .container .__image {
    float: left;
    width: 22rem;
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 808px) {
  .projectDetails.responsive .container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
  }
}

.createProject,
.projectTable {
  min-height: 100vh;
  background: #F3F4F6;
  padding-top: 3.5rem;
  height: max-content;
  padding-left: 16rem;
}

.createProject .financierHeader::after {
  content: '';
  position: absolute;
  height: 1px;
  box-shadow: 0 1px var(--divider-border-color);
  bottom: 1px;
  left: 0;
  right: 0;
}

.createProject .financierHeader .addFinancierBtn::after {
  content: '\002B';
  font-size: 1.5rem;
  font-weight: var(--main-font-weight);
  padding: 0;
  display: block;
  line-height: 0.8rem;
}

.createProject .outline:focus::after {
  content: '';
  position: absolute;
  top: -14px;
  right: -0.5px;
  left: -0.5px;
  bottom: -0.5px;
  border-radius: var(--border-radius-large);
  outline: 1.5px solid rgb(31, 175, 29) !important;
  outline-offset: -0.4px;
  z-index: -10;
}



/* Project Table */
.projectTable .addbtn {
  position: relative;
  padding-left: 1.5rem;
}

.projectTable .addbtn::before {
  content: '\002B';
  font-size: 1.4rem;
  font-weight: var(--main-font-weight);
  position: absolute;
  top: -0.5px;
  left: 0.4rem;
}

.projectTable .deleteBtn:hover,
.projectTable .editBtn:hover {
  text-decoration: underline;
}

.projectTable .deleteBtn:disabled:hover,
.projectTable .editBtn:disabled:hover {
  text-decoration: none;
}


@media only screen and (min-width: 1280px) {
  .gap {
    padding-top: 11rem;
  }

  .gap2 {
    padding-top: 9.5rem;
  }
}