.gap {
  padding-top: 7rem;
}

.curriculumDetails .container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.curriculumDetails .container img {
  float: left;
  width: 100%;
}

.curriculumDetails .container .info p:first-child {
  display: inline-block;
  margin-bottom: 0.2rem;
  font-size: 0.92rem;
  font-weight: bold;
  color: var(--main-color);
  line-height: 1.2rem;
}

.curriculumDetails .container .info p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
  line-height: 1.6rem;
  color: var(--main-color);
}

.curriculumDetails .container .info p:nth-child(3) {
  margin-top: 0.2rem;
  line-height: 1.6rem;
  font-size: 0.875rem;
}

.curriculumDetails .container .info button {
  border: 1.5px solid var(--main-color);
  outline: none;
  background: var(--main-color);
  color: var(--white-color);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 0.9rem;
  cursor: pointer;
  text-transform: uppercase;
}

.curriculumDetails .container .info button:hover {}

.curriculumDetails .container .info button svg {
  font-size: 1rem;
  margin-right: 0.1rem;
}


@media only screen and (min-width: 300px) {
  .curriculumDetails.responsive .container img {
    width: 10rem;
    padding-right: 1rem;
  }

  .curriculumDetails.responsive .container .info p:first-child {
    margin-top: 0;
  }
}

/* Medium devices (landscape tablets, 400px and up) */
@media only screen and (min-width: 570px) {

  .curriculumDetails.responsive .container .info {
    float: left;
    width: calc(100% - 10rem);
    padding-left: 1rem;
  }

  .curriculumDetails.responsive .container img {
    padding-right: 0;
  }
}

@media only screen and (min-width: 808px) {
  .curriculumDetails.responsive .container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
  }
}



/* Create Curriculum */
/* Curriculum Table */
.createCurriculum,
.curriculumTable {
  min-height: 100vh;
  background: #F3F4F6;
  padding-top: 3.5rem;
  padding-left: 16rem;
}


/* User Table */
.curriculumTable .addbtn {
  position: relative;
  padding-left: 1.5rem;
}

.curriculumTable .addbtn::before {
  content: '\002B';
  font-size: 1.4rem;
  font-weight: var(--main-font-weight);
  position: absolute;
  top: -0.5px;
  left: 0.4rem;
}

.curriculumTable .deleteBtn:hover,
.curriculumTable .editBtn:hover {
  text-decoration: underline;
}

.curriculumTable .deleteBtn:disabled:hover,
.curriculumTable .editBtn:disabled:hover {
  text-decoration: none;
}








/* Update Curriculum */
.updateCurriculum {
  height: 100vh;
  background: #F3F4F6;
}

@media only screen and (min-width: 1280px) {
  .gap {
    padding-top: 9.5rem;
  }
}