@tailwind base;
@tailwind components;
@tailwind utilities;

iframe {
  width: 100%;
  outline: 5px solid #E2F0E2;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tiptap {
  padding-left: 20px;
  padding-right: 12px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.tiptap h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 2rem;
  font-weight: 700;
  color: #178415;
  margin-bottom: 0.8888889em;
}

.tiptap h2 {
  font-weight: 700;
  color: #178415;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 15px;
  margin-top: 15px;
}

.tiptap p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tiptap .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}

.tiptap ul, .tiptap ol {
  padding: 0 1rem;
}

ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

ul[data-type="taskList"] p {
  margin: 0;
}

ul[data-type="taskList"] li {
  display: flex;
}

ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

ul[data-type="taskList"] li ul li, ul[data-type="taskList"] li ol li {
  display: list-item;
}

ul[data-type="taskList"] li ul[data-type="taskList"] > li {
  display: flex;
}

.tiptap a {
  cursor: pointer;
}


.tiptap img {
  height: auto;
  max-width: 100%;
}

.tiptap img.ProseMirror-selectednode {
  outline: 3px solid #68cef8;
}

.tiptap iframe {
  width: 100%;
  outline: 5px solid #E2F0E2;
}

.tiptap div[data-youtube-video] {
  background-color: #E2F0E2;
}

