.updateUser, .userTable {
  min-height: 100vh;
  background: #F3F4F6;
  padding-top: 3.5rem; 
  padding-left: 16rem;
}

/* User Table */
.userTable .addbtn {
  position: relative;
  padding-left: 1.5rem;
}

.userTable .addbtn::before {
  content: '\002B';
  font-size: 1.4rem;
  font-weight: var(--main-font-weight);
  position: absolute;
  top: -0.5px;
  left: 0.4rem;
}

.userTable .deleteBtn:hover,
.userTable .editBtn:hover {
  text-decoration: underline;
}

.userTable .deleteBtn:disabled:hover,
.userTable .editBtn:disabled:hover {
  text-decoration: none;
}