.updateUser {
  min-height: 100vh;
  background: #F3F4F6;
  padding-top: 3.5rem; 
  padding-left: 16rem;
}

/* User Table */
.userTable {
  min-height: 100vh;
  background: #F3F4F6;
}

.userTable .title {
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--main-color);
}

.userTable button {
  cursor: pointer;
}

.userTable button:hover {
  text-decoration: underline;
}

.userTable button:disabled:hover {
  text-decoration: none;
}

.userTable button:disabled {
  cursor: no-drop;
  opacity: 0.4;
}

.userTable a:hover {
  text-decoration: underline;
}