.signin {
  padding-top: 5rem;
}

.signin .container {
  margin-top: 0;
}

.signin .column:first-child {
  display: none;
}

.signin .container .column {
  padding: 1rem;
  background: var(--carousel-color);
  height: 100vh;
}

.signin .container .column .title {
  color: var(--main-color);
  font-weight: bold;
}

.signin .container .column .form label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.signin .container .column .form input[type=text],
.signin .container .column .form input[type=password] {
  display: block;
  width: 100%;
  border-radius: 0.9375rem;
  /* height: 2.5rem; */
  height: 40px;
  border: 1px solid var(--hover-color);
  outline: none;
  margin-bottom: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #FFFCC8;
}

.signin .container .column .form input[type=password] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.125rem;
}


.signin .container .column .form input[type=text]:focus,
.signin .container .column .form input[type=password]:focus {
  outline: 1px solid var(--hover-color);
  box-shadow: 0 0 3px 0 var(--hover-color);
}

.signin .container .column .form button {
  width: 100%;
  border: none;
  outline: none;
  background: var(--main-color);
  border-radius: 1rem;
  margin-top: 0.5rem;
  color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  cursor: pointer;
}

.signin .container .column .form button:disabled {
  cursor: no-drop;
  opacity: 0.7;
}

@media only screen and (min-width: 768px) {

  .signin.responsive .column {
    display: block;
  }

  .signin.responsive {
    padding-top: 7rem;
  }

  .signin.responsive .column .content {
    line-height: 1.75rem;
    font-size: 0.9rem;
  }

  .signin.responsive .container {
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

  .signin.responsive .container .column {
    height: 350px;
    padding: 1rem 3rem;
  }

  .signin.responsive .container .column:first-child {
    background: var(--pale-bg-color);
  }

  .signin.responsive .container .column:last-child {
    padding: 1rem 3rem;
    background: var(--white-color);
  }

  .signin.responsive .container .column .form input[type=text],
  .signin.responsive .container .column .form input[type=password] {
    border: 1px solid var(--carousel-color);
    height: 2.5rem;
    /* background: #F7FAF7; */
  }
}


@media only screen and (min-width: 1280px) {
  .signin .container {
    margin-top: 3.5rem;
  }
}