.blocks {
  background: var(--pale-bg-color);
  height: 5.85rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: none;
}

.blocks .heading::after {
  content: '';
  display: table;
  clear: both;
}

.blocks .heading .image {
  height: 5.85rem;
  float: left;
  /* border-right: 1px solid #CFE1CF; */
  /* border-right: 2px solid var(--hover-color); */
  /* border-right: 2px solid var(--border-bottom-navbar); */
  /* border-right: 2px solid var(--mobile-submenu); */
  /* border-right: 2px solid #ddd; */
}

.blocks .heading .image img {
  width: 13rem;
  margin-top: 0.4rem;
  margin-left: 0.7rem;
  margin-right: 0.45rem;
}

.blocks .heading .content {
  float: left;
  padding-left: 1.2rem;
  height: 5.85rem;
}

.blocks .heading .content h2 {
  font-weight: 600;
  font-size: 1.2rem;
  color: #146F12;
  margin-bottom: 0.5rem;
  line-height: 4rem;
}

.blocks .heading .content p {
  font-size: 0.8rem;
  color: #333;
  margin-top: 0;
}

.blocks .heading .actions {
  float: right;
  padding-right: 2rem;
}

.blocks .heading .actions .signin {
  outline: none;
  appearance: none;
  border: none;
  background: var(--main-color);
  border-radius: 2rem;
  margin-top: 1.8rem;
  cursor: pointer;
}

.blocks .heading .actions .signin a {
  color: var(--white-color);
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
  display: inline-block;
}


.blocks .nav nav ul {
  overflow: hidden;
  background: var(--main-color);
  padding-left: 0.8rem;
}

.blocks .nav nav ul li {
  float: left;
}

.blocks .nav nav ul li a,
.blocks .nav nav ul li button {
  font-size: 0.9rem;
  color: var(--white-color);
  cursor: pointer;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  margin: 0.4rem;
  transition: 0.2s ease;
  border-radius: 0.5rem;
}

.blocks .nav nav ul li button {
  border: none;
  background: none;
  outline: none;
}

.blocks .nav nav ul li a:hover,
.blocks .nav nav ul li button:hover,
.blocks .nav nav ul li a.active {
  /* text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.3rem; */

  background: #0D5E0C;
}




/* .blocks {
  width: 100%;
  position: fixed;
  overflow: hidden;
  height: 5.85rem;
  display: none;
  z-index: 100;
}

.blocks::after {
  content: '';
  display: table;
  clear: both;
}

.blocks div {
  float: left;
}

.blocks div:first-child {
  width: 18%;
}

.blocks div:last-child {
  width: 82%;
} */

/* Comeca aqui as configuracoes das naves */
/* .blocks div:first-child {
  background: var(--pale-bg-color);
  padding: 0.4rem;
}

.blocks div:first-child a img {
  width: 13rem;
}

.blocks div:last-child ul {
  overflow: hidden;
  height: 5.85rem;
  background-color: var(--main-color);
}

.blocks div:last-child ul li {
  float: left;
} */

/* Link styles */
/* .blocks div:last-child ul li a,
.blocks div:last-child ul li button {
  font-size: 0.9rem;
  color: var(--white-color);
  cursor: pointer;
  display: inline-block;
  padding: 0.4rem 0;
  margin: 2rem 0.4rem 0 0.8rem;
  transition: 0.2s ease;
}

.blocks div:last-child ul li button {
  border: none;
  background: none;
  outline: none;
}

.blocks div:last-child ul li a:hover,
.blocks div:last-child ul li button:hover,
.blocks div:last-child ul li a.active {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.3rem;
} */

/* Responsive navbar */
.responsive::after {
  content: '';
  display: table;
  clear: both;
}

.responsive {
  overflow: hidden;
  width: 100%;
  position: fixed;
  background: var(--main-color);
  z-index: 100;
}

.responsive li {
  float: left;
}

.responsive li:not(:first-child) {
  display: none;
}

/* Estilizando width: gt 1040 */
.responsive li a img {
  width: 10rem;
  padding: 0.8rem 0.3rem
}

.responsive li:first-child {
  background: var(--pale-bg-color);
}

.responsive li a,
.responsive li button:not(.responsive li.menu button) {
  font-size: 0.9rem;
  color: var(--white-color);
  cursor: pointer;
  display: inline-block;
  padding: 0.4rem 0;
  transition: 0.2s ease;
}

.responsive li:first-child a {
  padding: 0;
}

.responsive li button {
  border: none;
  background: none;
  outline: none;
}

.responsive li a:hover,
.responsive li button:not(.responsive li.menu button):hover,
.responsive li a.active {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.3rem;
}

.responsive li:not(:first-child) {
  margin: 1.8rem 0.5rem 0;
}

.responsive li.menu {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 0.6rem
}

.responsive li.menu svg {
  color: var(--main-color);
}

          









@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideDown[data-reach-menu-list],
.slideDown[data-reach-menu-items] {
  border-radius: 0.2rem;
  background: var(--white-color);
  border-color: var(--hover-color);
  animation: slideDown 0.2s ease;
}

[data-reach-menu-item]:hover {
  background: var(--second-main-color);
}

[data-reach-menu-list] {
  z-index: 10000;
  position: relative;
}

.top,
.right {
  display: none;
}


/* Small devices */
/* @media only screen and (max-width: 350px) { */
@media only screen and (max-width: 600px) {
  .top {
    display: block;
  }
  .right {
    display: none !important;
  }
  .responsive {
    background: var(--pale-bg-color);
  }

  .responsive li.menu svg {
    color: var(--main-color) !important;
  }
}

/* Small devices */
/* @media only screen and (min-width: 350px) { */
@media only screen and (min-width: 600px) {
  .right {
    display: block;
  }

  .responsive li.menu svg {
    color: var(--white-color);
  }
}

/* GJGJHGHGHJJK */
@media only screen and (min-width: 1040px) {
  .responsive li:not(:first-child) {
    display: block;
  }

  .responsive li.menu {
    display: none;
  }

  .top,
  .right {
    display: none;
  }
}


@media only screen and (min-width: 1280px) {
  .blocks {
    display: block;
  }

  .responsive {
    display: none;
  }
}