.chip {
  outline: none;
  display: inline-block;
  border: none;
  appearance: none;
  padding: 0.24rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.chip .times:hover {
  background: rgba(0, 0, 0, 0.4) !important;
}