.MenubarRoot {
  display: flex;
  background-color: #2F6FEB;
  padding: 3px;
  border-radius: 6px;
  /* box-shadow: 0 2px 10px var(--black-a7); */
}

.MenubarTrigger {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  font-size: 0.875rem;
}

.MenubarTrigger[data-highlighted],
.MenubarTrigger[data-state="open"],
.MenubarTrigger:hover {
  background-color: #175de8;
}

.MenubarContent,
.MenubarSubContent {
  min-width: 220px;
  background-color: #2F6FEB;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}